.flexcontainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    max-width: 700px;
    height: 250px;
    padding: 10px;
    border: 3px dashed #3498db;
    background-color: #ecf0f1;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

.item {
    flex: 1;
    background-color: #2ecc71;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 1.5em;
    border-radius: 8px;
    height: 100px;
    font-weight: bold;
    transition: backgroud-color 0.3s;
}

.item:nth-child(2) {
    background-color: #c67e22;
}
.item:nth-child(3) {
    background-color: #9b59b6;
}