body {
    background-color: #0F172A;
    color: #E2E8F0; 
    padding: 30px;
    color: white;
    margin: 0;
    font-family: sans-serif;
}
header {
    background-color: darkblue;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 14px 40px;
    border-radius: 20px;
}
section {
    margin: 20px;
    padding: 10px;
    background-color: darkblue;
    border-radius: 30px;
}
.logo{
    height: 12vh;
    width: auto;
    border-radius: 30px;
}
.logo:hover {
    box-shadow: 0 0 15px red;
}
a {
    padding: 10px;
    border: 3px solid;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    margin: 10px;
    color: white;
}
a:hover {
    color: red;
}
.banner {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.banner h1 {
    text-align: center;
}
.banner a {
    align-self: center;
    width: 250px;
    text-align: center;
    padding: 15px;
    border: 3px solid;
    border-radius: 20px;
    
}
.sobre {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
footer {
    text-align: center;
    width: 100%;
    padding: 3px;
}
.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 8px;
}
.produto {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid;
    justify-content: center;
    align-items: center;
}
.produto img {
    width: 50%;
    border-radius: 8px;
    margin-top: 10px;
}
.produto img:hover {
    box-shadow: 0 0 35px red;
}
.Nossos.Produtos h1 {
    text-align: center;
}
.form-contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contato h2{
    text-align: center;
}
button {
    padding: 10px;
    border: 3px solid;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    margin: 10px;
    color: white;
}
input,button,textarea {
    padding: 10px;
    margin: 10px;
    border: 3px solid;
    border-radius: 10px;
}

input:hover,button:hover,textarea:hover {
    color: red;
}
@media (min-width: 1024px) {
    input,button,textarea {
        align-self: center;
        width: 450px;
    }
}
@media (max-width: 1024px){
    .produtos {
        grid-template-columns: 1fr 1fr;
    }
    section {
        margin: 20px;
        padding: 10px;
        border-radius: 30px;
    }
}

@media (max-width: 800px) {
    .produtos {
        grid-template-columns: 1fr;
    }
    section {
        margin: 20px;
        padding: 10px;
        border-radius: 30px;
    }
}